* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-weight: 700; }

body {
  background-color: #EAEAEA; }

html {
  font-size: 62.5%; }

h5 {
  color: #000000;
  font-weight: 700; }

h4 {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #000000;
  font-weight: 700; }

h3 {
  text-align: center;
  color: #ffffff;
  padding-top: 4rem;
  font-weight: 700; }

h2 {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #000000;
  font-size: 4rem;
  font-weight: 700; }

h1 {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #000000;
  font-size: 2.8rem;
  font-weight: 700; }

p {
  color: #000000;
  font-size: 2rem; }

.card-text {
  font-size: 1.5rem;
  overflow: scroll;
  max-height: 250px;
  font-weight: 200;
  overflow-x: hidden; }
  .card-text::-webkit-scrollbar {
    background-color: #ffffff;
    width: 0.5rem; }
  .card-text::-webkit-scrollbar-thumb {
    background: #1D2C4D;
    border-radius: 4px; }

.card-title {
  font-size: 2rem; }

.card {
  border-radius: 1rem; }

header {
  height: 10rem;
  background-color: #1D2C4D;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 5rem; }

.logo {
  margin: 0;
  display: block;
  position: relative;
  height: auto;
  margin: auto auto; }

.navegador a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0rem 1.0rem;
  margin-left: 0.5rem;
  font-size: 1.6rem;
  transition: 0.4s; }
  .navegador a:hover {
    background-color: #03bb85;
    color: #ffffff;
    font-size: 2rem;
    border-radius: 3rem;
    transition: 0.4s; }

.esconder-menu,
.mostrar-menu {
  font-size: 5.0rem;
  display: none;
  cursor: pointer;
  transition: 0.4s; }

.mostrar-menu {
  order: 1; }

.esconder-menu:hover,
.mostrar-menu:hover {
  background-color: none;
  color: #03bb85;
  font-size: 5rem;
  border-radius: 3rem;
  transition: 0.4s; }

#check {
  display: none; }

.banner {
  padding: 0 5rem;
  background-image: url(../Assets/Images/Banner-inicial.png);
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center; }
  .banner::before {
    content: '';
    background: rgba(77, 77, 92, 0.6);
    position: absolute;
    width: 100%;
    height: auto;
    left: 0; }

footer {
  background-color: #1D2C4D;
  margin-top: 20rem;
  height: 15rem;
  justify-content: space-evenly;
  text-align: center;
  text-decoration: none; }
  footer a {
    font-size: 5rem;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    transition: 0.4s; }
    footer a:hover {
      background-color: none;
      color: #03bb85;
      font-size: 6rem;
      border-radius: 0;
      transition: 0.4s; }

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "fbook twt ig lkn " "dchos dchos dchos dchos"; }

.fbook {
  grid-area: fbook; }

.twt {
  grid-area: twt; }

.ig {
  grid-area: ig; }

.lkn {
  grid-area: lkn; }

.dchos {
  grid-area: dchos;
  padding-top: 0; }

.bienvenidos-text {
  border-radius: 3rem;
  margin: 5rem 1.5rem;
  justify-content: center;
  align-self: center;
  width: 50%; }
  .bienvenidos-text p {
    font-size: 2.5rem;
    color: #000000;
    width: fit-content;
    height: fit-content;
    text-align: justify; }
  .bienvenidos-text h1 {
    text-align: center;
    color: #000000;
    font-size: 3rem;
    width: 100%; }

.bienvenidos-img {
  margin: 5rem 1.5rem; }
  .bienvenidos-img img {
    border-radius: 3rem;
    align-self: center; }

.quienes-somos {
  border-radius: 3rem;
  margin: 5rem;
  width: 75%; }
  .quienes-somos h2 {
    text-align: center;
    color: #000000;
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 1rem; }
  .quienes-somos p {
    font-size: 2.5rem;
    color: #000000;
    width: auto;
    height: fit-content;
    text-align: justify;
    align-self: center;
    margin: 0vh 2vw;
    margin-bottom: 2vh; }

.img-profesional {
  border-radius: 10%;
  margin-top: 2rem; }

.texto-secundario {
  margin: 0; }

.galeria {
  width: 50%;
  height: 50%;
  display: flex;
  margin-top: 10rem;
  left: 25%; }

.galeria-title {
  margin-top: 5rem;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  font-size: 5rem; }

.contactenos-main {
  height: 50rem;
  margin-top: 5rem; }

.boton-contactenos {
  background-color: #1D2C4D;
  width: 100%;
  color: #ffffff; }
  .boton-contactenos:hover {
    background-color: #03bb85;
    color: #ffffff; }

.contactenos h2 {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #000000;
  font-size: 5rem; }

.contactenos p {
  color: #000000;
  font-size: 2.5rem; }

@media (max-width: 1365px) {
  .mostrar-menu,
  .esconder-menu {
    display: block; }
  .navegador {
    position: fixed;
    width: 100%;
    height: 192rem;
    background: #1D2C4D;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 10rem 0rem;
    z-index: 100;
    transition: 0.8s; }
    .navegador a {
      display: block;
      padding: 2rem; }
      .navegador a:hover {
        color: #ffffff;
        transition: 0.4s;
        border-radius: 0%;
        padding-left: 0%;
        margin-left: 0%; }
  .esconder-menu {
    position: absolute;
    top: 4rem;
    right: 4rem; }
  #check:checked ~ .navegador {
    right: 0; } }

@media (max-width: 1024px) {
  .bienvenidos-text {
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0; }
  .quienes-somos {
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0; }
  .contactenos h2 {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
    font-size: 4rem; }
  .contactenos p {
    color: #000000;
    font-size: 2rem; } }

@media (max-width: 860px) {
  .bienvenidos-text p {
    width: fit-content;
    font-size: 2.0rem;
    margin: 2rem;
    margin-top: 0;
    height: 100%; }
  .bienvenidos-text h1 {
    font-size: 3rem;
    width: auto;
    text-align: center;
    padding: 1rem 2rem 1rem 2rem; }
  .quienes-somos p {
    font-size: 2rem; }
  .galeria {
    width: 75%;
    height: 75%;
    left: 15%; }
  .contactenos h2 {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
    font-size: 2.5rem; }
  .contactenos p {
    color: #000000;
    font-size: 1.25rem; }
  .card {
    width: 100%; }
    .card div div div h5 {
      font-size: 2rem; }
    .card div div div p {
      font-size: 1.5rem; }
  .profesionales-txt h2 {
    font-size: 2.5rem; }
  .profesionales-txt p {
    font-size: 1.5rem; }
  .card-text {
    font-size: 1.5rem;
    overflow: scroll;
    max-height: 200px;
    font-weight: 200;
    overflow-x: hidden; }
    .card-text::-webkit-scrollbar {
      background-color: #ffffff;
      width: 0rem; }
    .card-text::-webkit-scrollbar-thumb {
      background: #1D2C4D;
      border-radius: 4px; } }

@media (max-width: 425px) {
  .bienvenidos-text h1 {
    font-size: 2.5rem; }
  .bienvenidos-text p {
    font-size: 1.5rem; }
  .quienes-somos h1 {
    font-size: 2.5rem; }
  .quienes-somos p {
    font-size: 1.5rem; }
  .galeria {
    width: 100%;
    height: 100%;
    left: 0; }
  .contactenos h2 {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
    font-size: 1.5rem; }
  .contactenos p {
    color: #000000;
    font-size: 1rem; }
  .card {
    width: 100%; }
    .card div div img {
      display: block;
      justify-self: center;
      align-self: center;
      margin-top: 2.5rem; }
    .card div div div h5 {
      font-size: 1.5rem; }
    .card div div div p {
      font-size: 1rem; }
  .profesionales-txt h2 {
    font-size: 2rem; }
  .profesionales-txt p {
    font-size: 1rem; } }
