.galeria{
        div{
            margin: 0;
            padding: 2.5rem;
            img{
                width: 100%;
                height: 25rem;
                transition: 0.4s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
}
.galeria-title{
    margin-top: 5rem;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 5rem;
}
