@media(max-width: 1024px){
    .bienvenidos-text{
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
    .quienes-somos{
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
    .contactenos{
        h2{
            color:#000000 ;
            text-decoration: underline;
            text-decoration-color:#000000 ;
            font-size: 4rem;
        }
        p{
            color:#000000 ;
            font-size: 2rem; 
        }
    }
}