@media(max-width: 860px){
    
.bienvenidos-text{
    p{
        width: fit-content;
        font-size: 2.0rem;
        margin: 2rem;
        margin-top: 0;
        height: 100%;
    }
    h1{
        font-size: 3rem;
        width: auto;
        text-align: center;
        padding: 1rem 2rem 1rem 2rem;
    }
} 
    .quienes-somos p{
        font-size: 2rem;
    }
    
    .galeria{
        width: 75%;
        height: 75%;
        left: 15%;
    }
    .contactenos{
        h2{
            color:#000000 ;
            text-decoration: underline;
            text-decoration-color:#000000 ;
            font-size: 2.5rem;
        }
        p{
            color:#000000 ;
            font-size: 1.25rem; 
        }
    }
    .card{
        width: 100%;
        div{
            div{
                div{
                    h5{
                        font-size: 2rem;
                    }
                    p{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    .profesionales-txt{
        h2{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .card-text{
        font-size: 1.5rem;
        overflow:scroll;
        max-height: 200px;
        font-weight: 200;
        overflow-x: hidden;
        &::-webkit-scrollbar{
            background-color: $bg-cuadros-texto;
            width:0rem
        }
        &::-webkit-scrollbar-thumb{
            background: $bg-header-footer;
            border-radius: 4px;
        }
    }
    .main-especialidades{
        div{
            h5{
                font-size: 1.8rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
    .sec1{
        h2{
            grid-area: titulo;
            align-self: flex-end;
            font-size: 3rem;
        }
        p{
            grid-area: desc;
            align-self: flex-start;
            text-align: center;
            font-size: 1.5rem;
        }
    }
    .sec2{
        h2{
            grid-area: titulo;
            align-self: flex-end;
            font-size: 3rem;
        }
        p{
            grid-area: desc;
            align-self: flex-start;
            text-align: center;
            font-size: 1.5rem;
        }
    }
    .sec3{
        h2{
            grid-area: titulo;
            align-self: flex-end;
            font-size: 3rem;
        }
        p{
            grid-area: desc;
            align-self: flex-start;
            text-align: center;
            font-size: 1.5rem;
        }
    }
}