@media(max-width: 1365px){
    .mostrar-menu,
    .esconder-menu{ 
        display: block;
    }
    .navegador{
        position: fixed;
        width: 100%;
        height: 192rem;
        background: #1D2C4D;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 10rem 0rem;
        z-index: 100;
        transition: 0.8s;
        a{
            display: block;
            padding: 2rem;
            &:hover{
                color: #ffffff;
                transition: 0.4s;
                border-radius: 0%;
                padding-left: 0%;
                margin-left: 0%;
                }
        }
    }
    .esconder-menu{
        position: absolute;
        top: 4rem;
        right: 4rem;
    }
    #check:checked ~ .navegador{
        right: 0;
    }

}